body{
    background-size : cover;
}
.heading{
    font-size: 20px;
    margin: 1px;
    width: 100%;
}
#start, #object_found, #status{
    font-size: 20px;
}
canvas{
    border: 2px solid white;
    margin-top: 130px;
    border-radius: 12px;
    box-shadow: 5px 5px 5px white;
}
.note{
    font-size: 15px; 
}